/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-color: #000;
}

.board {
  /*stroke: rgb(76,179,230);*/
  /*border: 1px solid #f00;*/
  /*fill: "#f6f";*/
  /*margin: 5%;*/
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  /*opacity: 0.5;*/
}

.scoreboard {
  position: relative;
  background-color: black;
  color: white;
  height: 60px;
  width: 8%;
  margin-left: 91.5%;
  padding-left: 0.5%;
}

.enemy {
  background-image: url('asteroid.png');
}

/*path[data-classbreak="classbreak0"] {
  stroke: rgb(255, 245, 220);
  stroke-width: 1pt;
  stroke-opacity: 0.35;
  fill: rgb(255, 215, 120);
  fill-opacity: 0.8;
}*/
